/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20-mar-2018, 11.16.23
    Author     : Sary
*/

body
{
    font-family: "Palatino Linotype","Book Antiqua", Palatino, serif;
    color: white;
    background: #333333;
}

h1, h2, h3
{
    color: #33ff33;
}

#maintitle 
{
    color: white;
    display: inline; /*Aggiunto per posizionare il testo di lato all'immagine*/
}

input
{
    background: orange;
}


input:focus
{
    background: gray;
    color: red;
}

a:link
{
    font-style: italic;
    color: white;
}

a:visited
{
    color: dodgerblue;
}

.headerrow
{
    background: #33ff33;
    font-weight: bold;
    color: black;
}

.evenrow
{
    background: orange;
    color: black;
}

li > ol 
{
    list-style-type: upper-roman;
}

article > h3
{
    color: aquamarine;
}

a[href="http://www.google.com"]
{
    color: blue;
}

/* Posizionamento elementi nella pagina */
#logo
{
    width: 10%;
    height: auto;
    display: inline;
}

#search
{
    display: inline;
    width: 20%;
}

nav
{
    width: 100%;
}
nav ul
{
    list-style-type: none;
    width: 80%;
    border: solid;
    border-color: brown;
    display: inline;
    padding: 0px;
}

nav li
{
    display: inline-block;
    border: solid;
    border-color: white;
    width: 20%;
    padding: 0px;
}

nav h3
{
    display: none;
}

.left-box
{
   display: inline;  
   float: left;
   width: 20%;
   border:solid;
}

.main-box
{
    display: inline;
    float: left;
}

footer{
    display: block;
    width: 100%;
    text-align: center;
    clear: both; /* far andar a capo il footer */
    background-color: blue;
}

label::after, label::before
{
    content: '\A';
    white-space: pre;
}

form{
    border: solid;
    color: white;
}
